.vscode/**
.vscode-test/**
out/test/**
node_modules/**

src/**
data/**
ps1Scripts/**

.gitignore
.eslintrc.json
.gitattributes
tsconfig.json

assets/images/**

webview-ui/activityBar/src/**
webview-ui/activityBar/public/**
webview-ui/activityBar/scripts/**
webview-ui/activityBar/index.html
webview-ui/activityBar/package.json
webview-ui/activityBar/package-lock.json
webview-ui/activityBar/node_modules/**

webview-ui/editor/src/**
webview-ui/editor/public/**
webview-ui/editor/scripts/**
webview-ui/editor/index.html
webview-ui/editor/package.json
webview-ui/editor/package-lock.json
webview-ui/editor/node_modules/**
