.vscode/**
.vscode-test/**
out/test/**

src/**
data/**
ps1Scripts/**
node_modules/**

.gitignore
.eslintrc.json
.gitattributes
tsconfig.json

assets/images/**

webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/index.html
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**
