.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
components/**
data/**
models/**
node_modules/**
powerShellScripts/**
providers/**
test/**
.eslintrc.json
.gitattributes
extension.test
tsconfig.json
webpack.config.js
assets/docs.png
assets/howDocsWork.gif
assets/languageSupport.png
assets/listOfCommandsFromToolbar.png
assets/snippetsList.png
assets/snippets.gif
assets/syntaxColor.gif
