.cliCommandsList {
    padding: 0;
    list-style: inside;
}

.cliCommandsList li {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
}